/*
Задание:
1. Первая буква, каждого абзаца статьи должна иметь больший шрифт и быть красной.
*/
p:first-letter {
    font-size: 4em;
    color: red;
  }
  
  /*
  2. Заголовок "Огород" должен быть оранжевым
  */
  {
    color: orange;
  }
  
  /*
  3. Слова "Фрукты" и "Овощи" жирным шрифтом, черного цвета.
  */
  {
    font-weight: bold;
    color: black;
  }
  
  {
    font-weight: normal;
  }
  
  /*
  4. В разделе "Огород" список фруктов должен быть серым, а овощей зеленым.
  */
  {
    color: gray;  
  }
  
  {
    color: green;
  }
  
  /*
  5. В разделе "Склад" список фруктов должен быть оранжевым, а овощей коричневым.
  */
  {
    color: orange;  
  }
  
  {
    color: brown;
  }
  
  /*
  6. Заголовки таблицы должны быть жирными и черными. Текст должен центрироваться.
  6.1. Имена студентов зелеными
  6.2. Четные строки должны получить голубой фон.
  6.3. Отметки посещения должны центрироваться.
  6.4. Наведение мышки на отметку должно менять фон ячейки на красный, а цвет текста делать белым.
  */
  
  {
    font-weight: bold;
    color: black;
    text-align: center;
  }
  
  
  {
    color: green;
  }
  
  
  {
    background: lightblue;
  }
  
  {
    text-align: center;
  }
  
  {
    background: red;
    color: white;
  }