 @media (min-width: 1800px) {
.first, .second, .third, .fifth {
    display: flex;
    flex-wrap: nowrap;
    
}  

.first .colored {
    flex-basis: 25%;
}

.second .colored {
    flex-basis: 50%;
    flex-wrap: nowrap;
}
 

.third .colored {
flex-basis: 25%;
flex-grow: 0;

}

.fourth {
    display: flex;
    flex-wrap: wrap;
}
.fourth .colored {
    flex-basis: 25%;
    flex-grow: 0;

}
.fourth .colored:last-child {
    flex-grow: 1;
} 

.fifth .colored {
    flex: 1 0 0
}
}

@media (min-width:1200px) {
    .first, 
    .third    {
        display: flex;
        flex-wrap: wrap;
    }

    .first .colored {
        flex-basis: 50%;
    }

    .second, 
    .fourth {
        display: flex;
        flex-wrap: nowrap;
    }

   .third .colored {
        flex-basis: 50%;
    }

    .third .colored:last-child {
        flex-grow: 1;
    }

    .fourth .colored {
        flex-basis: 30%;
        flex-grow: 1;
    }

    .fourth .colored:nth-child(2) {
        flex-grow: 0;
        justify-content: center;
    }
    
    .fifth {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .fifth .colored {
        flex-basis: 33%;
            }
}

@media (min-width:960px) {
    .first,
    .fifth {
        display: flex;
        flex-wrap: wrap; 
    } 

    .first .colored {
        flex-basis: 50%;
    }

    .second,
    .third,
    .fourth {
        display: flex;
        flex-wrap: nowrap;
    }

    
    .fourth .colored {
        flex-basis: 30%;
        flex-grow: 1;
    }

    .fourth .colored:nth-child(2) {
        flex-grow: 0;
        justify-content: center;
    }

    .fifth .colored {
        flex-basis: 50%;
        
    }
    .fifth .colored:last-child {
        flex-basis: 100%;
    }
    }


@media (min-width:768px) {
    .first,
    .second,
    .third,
    .fourth,
    .fifth {
        display: flex;
        flex-wrap: wrap;
        }

    .first .colored,
    .second .colored {
        flex-basis: 50%;
    }
    
    .third .colored {
        flex-grow: 1;
    }

    
    .fourth .colored {
        flex-basis: 50%;
    }

    .fourth .colored:last-child {
        flex-basis: 100%;
    }

    .fifth .colored {
        flex-basis: 50%;
    }

    .fifth .colored:last-child {
        flex-basis: 100%;
    }
}

 @media (min-width: 320px) {
 .first,
 .second,
 .third,
 .fourth,
 .fifth {
    display: flex;
    flex-wrap: nowrap;
 }

 .first .colored,
 .second .colored {
    flex-basis: 50%;
 }

 .third .colored,
 .fourth .colored,
 .fifth .colored {
     flex-basis: 100%;
 } 
}